.registerBox{

    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 500px;
    height: 300px;
    left: 400px;
    top: 100px;

    /* Neutral/White */

    background: #FFFFFF;
    /* Neutral/Neutral 09 */

    border: 1px solid #D8D8D8;

}

.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}

.registerForm h2{
    position: absolute;
    top: 0%;
    left: 35%;
}

.frame179{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20%;
    left: 15%;
}

.frame179 input{
    width: 356px;
    border: 1px solid #D8D8D8;
}

.frame179 label{
    /* Body/Semibold */

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 150% */


/* Neutral/Neutral 00 */

color: #252525;

}

.registerForm button{
    position: absolute;
    width: 356px;
    height: 30px;
    left: 0px;
    top: 200px;
    background: #8367D8;

    color: white;
}